<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>


<p>
  <strong>Categories:</strong>
  <%= @book.categories.collect(&:name).join(", ") %>
  
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors.pluck(:first_name, :last_name).join(", ") %>
  
</p>

<p>
  <strong>Publishers:</strong>
  <%= @book.publishers.collect(&:name).join(", ") %>
  
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>


<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
