
   <style>
section {
    padding-left: 120px;
    padding-top: 10px;
}
</style>
<section>

<div id="books-show">
  <h3><%= @book.title %></h3>
  <div class = "books-show-left">
    <%= image_tag @book.cover.url(:medium) %>
  </div>
  <div class = "books-show-right">
    <h3>Book Info:</h3>
    <ul>
      <li><strong>Category:</strong><%= @book.categories.name %></li>
      <li><strong>Author:</strong><%= @book.authors.pluck(:first_name, :last_name).join(", ") %></li>
      <li><strong>Publisher:</strong><%= @book.publishers.name %></li>
      <li><strong>Pages:</strong><%=@book.pages %></li>
    </ul>
    <%= link_to 'Back', books_path, class: "btn btn-danger" %>
  </div>
  <div class="clearfix"></div>

</div>
